---
//  components
import MainLayout from '../../layouts/MainLayout.astro'
import ArticleCard from '../../components/ArticleCard.astro'
//  utils
import { slugify, formatPosts } from '../../js/utils'

export async function getStaticPaths() {
  return [
    {
      params: { category: slugify('Random Stuff') },
      props: { name: 'Random Stuff' },
    },
    {
      params: { category: slugify('General') },
      props: { name: 'General' },
    },
    {
      params: { category: slugify('Nature') },
      props: { name: 'Nature' },
    },
    {
      params: { category: slugify('Tech') },
      props: { name: 'Tech' },
    },
  ]
}

const { category } = Astro.params
const { name } = Astro.props

const posts = await Astro.glob('../blog/*.md')
const formattedPosts = formatPosts(posts)
const categoryFilteredPosts = formattedPosts.filter(
  post => slugify(post.frontmatter.category) === category
)
---

<MainLayout title={name}>
  <section aria-label={`Posts about ${name}`}>
    <h1>Posts about {name}</h1>
    {
      categoryFilteredPosts.map(post => (
        <ArticleCard frontmatter={post.frontmatter} url={post.url} />
      ))
    }
  </section>
</MainLayout>
