---
//  components
import MainLayout from '../../layouts/MainLayout.astro'
import ArticleCard from '../../components/ArticleCard.astro'
import Pagination from '../../components/Pagination.astro'
import CategoryTags from '../../components/CategoryTags.astro'

//  utils js
import { formatPosts } from '../../js/utils'

export async function getStaticPaths({ paginate }) {
  const posts = await Astro.glob('./*.md')
  const formattedPosts = formatPosts(posts)

  return paginate(formattedPosts, {
    pageSize: 3,
  })
}

const { page } = Astro.props
---

<MainLayout title='My Blog'>
  <section aria-label='My blog posts' class='blog'>
    {
      page.data.map(post => (
        <ArticleCard frontmatter={post.frontmatter} url={post.url} />
      ))
    }
  </section>
  <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  <aside aria-label='Blog categories' class='container'>
    <CategoryTags showCount />
  </aside>
</MainLayout>

<style>
  .blog {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 360px));
    place-content: center;
    gap: 3rem;
  }
</style>
