/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html {
  height: stretch;
  overflow-x: clip;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  max-width: 2000px;
  min-height: 100vh;
  min-height: stretch;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: clip;
  font-family: 'Nunito Sans', sans-serif;
  color: hsl(var(--clr-text));
  background-color: hsl(var(--clr-bg));
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  position: relative;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ROOT STYLE VARIABLES */
:root {
  /* FONTS */
  --font-sm: clamp(0.9rem, 2vw + 2px, 1rem);
  --font-md: clamp(1.2rem, 2vw + 2px, 1.6rem);
  --font-lg: clamp(1.8rem, 2.4vw + 2px, 2.4rem);
  --font-xlg: clamp(2rem, 2.6vw + 2px, 3.5rem);

  /* BORDER-RADIUS */
  --radius-sm: 6px;
  --radius-full: 50%;

  /* COLORS */

  /* ADJUSTABLE HUE VARIABLE */
  --hue: 170;

  /* LIGHT THEME */
  --text-light: var(--hue) 40% 5%;
  --bg-light: var(--hue) 10% 99%;
  --accent-light: var(--hue) 60% 50%;
  --secondary-light: var(--hue) 30% 89%;
  --white: 0, 0%, 100%;

  /* DARK THEME */
  --text-dark: var(--hue) 20% 93%;
  --bg-dark: var(--hue) 14% 7%;
  --accent-dark: var(--hue) 50% 50%;
  --secondary-dark: var(--hue) 20% 14%;
  --black: 0, 0%, 0%;

  /* GRADIENT COLORS */
  --grad-1: calc(var(--hue) - 10) 45% 50%;
  --grad-2: calc(var(--hue) + 20) 55% 50%;
  --grad-3: calc(var(--hue) + 50) 60% 60%;
}

/* DEFAULT UNIVERSAL (INITIAL LIGHT THEME) */
@media (prefers-color-scheme: light) {
  :root: {
    --clr-text: var(--text-light);
    --clr-bg: var(--bg-light);
    --clr-accent: var(--accent-light);
    --clr-secondary: var(--secondary-light);
    --clr-pure: var(--white);
    color-scheme: light;
  }
}

@media (prefers-color-scheme: dark) {
  :root: {
    --clr-text: var(--text-dark);
    --clr-bg: var(--bg-dark);
    --clr-accent: var(--accent-dark);
    --clr-secondary: var(--secondary-dark);
    --clr-pure: var(--black);
    color-scheme: dark;
  }
}

:root[color-scheme='light'] {
  --clr-text: var(--text-light);
  --clr-bg: var(--bg-light);
  --clr-accent: var(--accent-light);
  --clr-secondary: var(--secondary-light);
  --clr-pure: var(--white);
  color-scheme: light;
}

:root[color-scheme='dark'] {
  --clr-text: var(--text-dark);
  --clr-bg: var(--bg-dark);
  --clr-accent: var(--accent-dark);
  --clr-secondary: var(--secondary-dark);
  --clr-pure: var(--black);
  color-scheme: dark;
}

/* @PROPERTY FOR CARD EFFECTS - NOT PERFECT BROWSER SUPPORT */
@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

/* UTILITIES */
.container {
  width: min(100%, 1300px);
  margin-inline: auto;
  padding: 2rem;
  text-align: center;
}

.link {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 0.2em 0.6em;
  font-weight: bold;
  color: hsl(var(--clr-text));
  border: 1px solid transparent;
  transition: filter 200ms ease;
}

.link:hover {
  filter: contrast(200%);
  cursor: pointer;
}

.link * {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.filled {
  background-color: hsl(var(--clr-accent));
  color: hsl(var(--clr-text));
}

.bordered {
  color: hsl(var(--clr-accent));
  border-color: hsl(var(--clr-accent));
}

.badge {
  text-decoration: none;
  display: inline;
  background-color: hsl(var(--clr-text));
  color: hsl(var(--clr-bg));
  padding: 0.1em 0.5em;
  font-size: var(--font-sm);
  border-radius: var(--radius-sm);
}

.hidden {
  display: none;
}

/* NOT FOUND PAGE */
.not-found__link {
  border-radius: var(--radius-sm);
  padding: 0.4em 0.8em;
}

/* ARTICLE CARDS */
.card__button {
  margin-left: 1rem;
}
