---
import Link from '../components/Link.astro'
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout
  title='Page not found'
  description='404 Page not found'
  robots={true}
>
  <section class='not-found'>
    <h1 class='text-xlarge'>Oops, wrong turn!</h1>
    <p>This page does not exist.</p>
    <Link
      classes='not-found__link'
      text='Go Home'
      href='/'
      isFilled={false}
      borderVisible={true}
      icon={{ name: 'clarity:home-line', side: 'right' }}
    />
  </section>
</MainLayout>

<style>
  .not-found {
    display: grid;
    place-items: center;
    gap: 1rem;
  }
</style>
