---
import Link from '../components/Link.astro'
//  components
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout title='About Me' description='About me page'>
  <section aria-label='About Me'>
    <h1 class='about__title'>About Me</h1>
    <h2 class='about__subtitle'>Hello and Welcome! &#128075;</h2>
    <p>
      My name is Kyle. I am a self-taught web developer living in Austin, Texas.
      In this blog, you will see articles about technology, cars, history, or
      whatever else I find interesting. Thanks for stopping by.
    </p>
    <p>
      Check out my <a
        href='https://kylelynch.me'
        rel='noopener'
        target='_blank'
        class='about__weblink'>website</a
      > to see some web projects I've built.
    </p>
  </section>
</MainLayout>

<style>
  .about__title {
    margin-bottom: 1rem;
    font-size: var(--font-lg);
  }

  .about__subtitle {
    margin-bottom: 1rem;
    font-size: var(--font-md);
  }

  .about__weblink {
    color: hsl(var(--clr-accent));
    font-weight: bold;
  }

  p {
    margin-bottom: 1rem;
  }
</style>
