---
//  layouts
import MainLayout from '../layouts/MainLayout.astro'

//  components
import ArticleCard from '../components/ArticleCard.astro'

//  utils js
import { formatPosts } from '../js/utils'

const posts = await Astro.glob('./blog/*.md')
const formattedPosts = formatPosts(posts, {
  limit: 5
})
---

<MainLayout>
  <h1 class='home__title'>New Blog Posts</h1>
  <section class='home__grid'>
    {
      formattedPosts.map(post => (
        <ArticleCard frontmatter={post.frontmatter} url={post.url} />
      ))
    }
  </section>
</MainLayout>

<style>
  .home__title {
    font-size: var(--font-xlg);
    margin-bottom: 2.5rem;
  }

  .home__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 360px));
    place-content: center;
    gap: 3rem;
  }
</style>

