---
import { Image } from '@astrojs/image/components'
//  utils js
import { slugify, formatDate } from '../js/utils'
//  components
import Link from './Link.astro'

const { frontmatter, url } = Astro.props

const { title, description, date, category, image } = frontmatter
---

<article class='card'>
  <small>
    <a href={`/category/${slugify(category)}/`} class='badge'>{category}</a>
  </small>
  <a href={url} tabindex='-1' aria-hidden='true'>
    <Image
      src={image.src}
      alt={image.alt}
      width={400}
      height={250}
      format='webp'
      fit='cover'
      aspectRatio='4:1'
    />
  </a>
  <h2><a href={url} class='card__title'>{title}</a></h2>
  <small><time datetime={date}>{formatDate(date)}</time></small>
  <p class='card__desc'>{description}</p>
  <Link
    href={url}
    text='Read Post'
    isFilled={true}
    borderVisible={false}
    classes='card__button'
  />
</article>

<style>
  .card {
    display: grid;
    place-items: flex-start;
    gap: 0.4rem;
    margin-bottom: 4rem;
    padding-block: 1.6rem;
    border-radius: var(--radius-sm);
    background-color: hsl(var(--clr-pure));
    position: relative;
  }

  .card::before,
  .card::after {
    content: '';
    background: conic-gradient(
      from var(--gradient-angle),
      hsl(var(--grad-1)),
      hsl(var(--grad-2)),
      hsl(var(--grad-3)),
      hsl(var(--grad-2)),
      hsl(var(--grad-1))
    );
    position: absolute;
    inset: -0.2rem;
    border-radius: inherit;
    z-index: -1;
    animation: rotation 20s linear infinite;
  }

  /* To make gradient work in Firefox (gradient angle not supported in FF), Targets Firefox only */
  @-moz-document url-prefix() {
    .card::before,
    .card::after {
      content: '';
      background: conic-gradient(
        from 90deg,
        hsl(var(--grad-1)),
        hsl(var(--grad-2)),
        hsl(var(--grad-3)),
        hsl(var(--grad-2)),
        hsl(var(--grad-1))
      );
      position: absolute;
      inset: -0.2rem;
      border-radius: inherit;
      z-index: -1;
      animation: rotation 20s linear infinite;
    }
  }

  .card::after {
    filter: blur(1rem);
  }

  @keyframes rotation {
    0% {
      --gradient-angle: 0deg;
    }
    100% {
      --gradient-angle: 360deg;
    }
  }

  .card__title {
    color: hsl(var(--clr-text));
    font-size: var(--font-lg);
    margin-inline: 1rem;
  }

  .card__desc {
    margin: 0 1rem 1rem 1rem;
  }

  .card a {
    cursor: pointer;
    text-decoration: none;
  }

  .card small {
    margin-left: 1rem;
  }
</style>
