---
//  utils js
import { formatPosts, slugify } from '../js/utils'

const posts = await Astro.glob('../pages/blog/*.md')
const formattedPosts = formatPosts(posts)
const allCategories = formattedPosts
  .map(cat => cat.frontmatter.category.toLowerCase())
  .flat()

const filteredCats = allCategories.reduce((acc, cur) => {
  const value = acc[cur] || 0

  return {
    ...acc,
    [cur]: value + 1,
  }
}, {})

const { showCount } = Astro.props
---

<ul class='categories'>
  {
    Object.entries(filteredCats).map(([key, val]) => (
      <li>
        <a href={`/category/${slugify(key)}/`} class='badge'>
          {key} {showCount && `(${val})`}
        </a>
      </li>
    ))
  }
</ul>

<style>
  .categories {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
</style>
