---
---

<footer class='footer'>
  <small>
    Copyright &copy; <span id='copyright'></span> | Kyle Lynch
  </small>
</footer>

<style>
  .footer {
    text-align: center;
    padding-block: 1.25rem;
    background-color: hsl(var(--clr-secondary));
  }
</style>

<script>
  document.getElementById('copyright').textContent = new Date()
    .getFullYear()
    .toString()
</script>
