---
//  components
import { Icon } from 'astro-icon'
import Link from './Link.astro'
---

<header>
  <nav aria-label='Primary' class='nav__primary'>
    <a href='/' class='nav__link'><Icon name='blog' /></a>
    <ul class='nav__list'>
      <li class='nav__link'>
        <Link text='About' href='/about/' isFilled={false} />
      </li>
      <li class='nav__link'>
        <Link text='Blog' href='/blog/' isFilled={false} />
      </li>
    </ul>
  </nav>
</header>

<style>
  .nav__primary {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-block: 0.75rem;
    background-color: hsl(var(--clr-secondary));
  }

  .nav__list {
    list-style-type: none;
    display: flex;
    gap: 1.75rem;
    margin-left: 2rem;
    font-size: var(--font-md);
  }

  .nav__link:hover {
    filter: brightness(80%);
  }

  [astro-icon='blog'] {
    display: block;
    width: var(--font-lg);
    height: var(--font-lg);
    fill: hsl(var(--clr-text));
  }
</style>
