---
import { Icon } from 'astro-icon'

interface Props {
  text: string
  href: string
  icon?: {
    name: string
    side: 'left' | 'right'
  }
  isFilled?: boolean
  borderVisible?: boolean
  classes?: string
}

const {
  text,
  href,
  icon,
  isFilled = true,
  borderVisible = false,
  classes,
  ...rest
} = Astro.props as Props
---

<a
  href={href}
  class:list={[
    'link',
    classes,
    { filled: isFilled, bordered: borderVisible },
  ]}
  {...rest}
>
  {
    icon && icon.side === 'left' && (
      <Icon name={icon.name} width='24' height='24' />
    )
  }

  <span>{text}</span>

  {
     icon && icon.side === 'right' && (
      <Icon name={icon.name} width='24' height='24' />
    )
  }
</a>
