---
import { Icon } from 'astro-icon'
---

<button
  aria-label='Toggle color mode'
  onclick='handleToggleClick()'
  class='mode-button'
>
  <Icon
    pack='ph'
    name='lightbulb-filament-thin'
    width={24}
    class='lightbulb-on'
  />
  <Icon
    pack='ph'
    name='lightbulb-filament-fill'
    width={24}
    class='lightbulb-off hidden'
  />
</button>

<style>
  .mode-button {
    width: 40px;
    height: 40px;
    aspect-ratio: 1;
    margin: 1rem 1rem 0 auto;
    background-color: hsl(var(--clr-bg));
    border: 1px solid hsl(var(--clr-accent));
    border-radius: var(--radius-full);
    display: grid;
    place-items: center;
    transition: filter 200ms ease;
  }

  .mode-button:hover {
    filter: contrast(200%);
    cursor: pointer;
  }

  .mode-button * {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
</style>

<script is:inline>
  const handleToggleClick = () => {
    const scheme = document.documentElement.getAttribute('color-scheme')
    const isDark = scheme !== null && scheme === 'dark'
    const bulbOn = document.querySelector('.lightbulb-on')
    const bulbOff = document.querySelector('.lightbulb-off')

    //  toggle global color theme //
    document.documentElement.setAttribute(
      'color-scheme',
      isDark ? 'light' : 'dark'
    )

    // toggle bulb icons according to color theme //
    bulbOn.classList.toggle('hidden')
    bulbOff.classList.toggle('hidden')

    // save color scheme/theme in local storage //
    localStorage.setItem('theme', isDark ? 'light' : 'dark')
  }
</script>
