---
// components
import Link from './Link.astro'

const { prevUrl, nextUrl } = Astro.props
---

<nav aria-label='Blog pages' class='blog-pages-nav'>
  {
    prevUrl && (
      <Link
        text='Previous'
        href={prevUrl}
        style='--clr-secondary'
        borderVisible={true}
        isFilled={false}
        icon={{
          name: 'iconoir:arrow-left',
          side: 'left',
        }}
      />
    )
  }
  {
    nextUrl && (
      <Link
        text='Next'
        href={nextUrl}
        style='--clr-accent'
        borderVisible={true}
        isFilled={false}
        icon={{
          name: 'iconoir:arrow-right',
          side: 'right',
        }}
      />
    )
  }
</nav>

<style>
    .blog-pages-nav {
        display: flex;
        gap: 2rem;
        justify-content: center;
    }
</style>