---
//  utils js
import { formatDate, slugify } from '../js/utils.js'

//  image
import { Image } from '@astrojs/image/components'

const { title, date, category, image } = Astro.props
---

<header>
  <small>
    <a href={`/category/${slugify(category)}`} class='badge'>{category}</a>
  </small>
  <h1 class='posthead__title'>{title}</h1>
  <p>Posted on: <time datetime={date}>{formatDate(date)}</time></p>
  <Image
    src={image.src}
    alt={image.alt}
    width={640}
    height={400}
    format='avif'
    fit='cover'
    aspectRatio='16:9'
    quality={70}
    class='posthead__image'
  />
</header>

<style>
  .posthead__title {
    font-size: var(--font-lg);
  }

  .posthead__image {
    object-fit: cover;
    margin: 1rem auto;
  }
</style>
