---
import { formatDate } from '../js/utils'

const { relatedPosts } = Astro.props
---

{
  relatedPosts.map(post => (
    <div>
      <h3>
        <a href={post.url} class='related-posts__title'>
          {post.frontmatter.title}
        </a>
      </h3>
      <small>{formatDate(post.frontmatter.date)}</small>
    </div>
  ))
}

<style>
  .related-posts__title {
    color: hsl(var(--clr-accent));
    text-decoration: none;
  }
</style>
