---
// components
import Seo from '../components/Seo.astro'

const { title, description, image, frontmatter, robots } = Astro.props
---

<head>
  <meta charset='utf-8' />
  <link rel='icon' type='image/svg+xml' href='/blog.ico' />
  <meta name='viewport' content='width=device-width' />
  <meta name='generator' content={Astro.generator} />
  <meta name='description' content={description} />
  <link rel='preconnect' href='https://fonts.googleapis.com' />
  <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />

  <Seo {title} {description} url={Astro.url} {image} {frontmatter} {robots} />

  <link
    href='https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap'
    rel='stylesheet'
  />
  <title>{title}</title>
</head>
