---
//  components
import MainHead from './MainHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

//  styles
import '../styles/global.css'
import ModeButton from '../components/ModeButton.astro'

const {
  title = "Kyle's Astro Blog",
  description = 'My blog built with Astro',
  image,
  frontmatter,
  robots,
} = Astro.props
---

<html lang='en'>
  <MainHead {title} {description} {image} {frontmatter} {robots} />
  <body>
    <Header />
    <ModeButton />
    <main class='container'>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<script is:inline>
  const setTheme = () => {
    // Pull color scheme/theme from local storage and set it upon DOM load, if null then set it to dark theme //
    const theme = localStorage.getItem('theme')
    const bulbOn = document.querySelector('.lightbulb-on')
    const bulbOff = document.querySelector('.lightbulb-off')

    document.addEventListener('DOMContentLoaded', () => {
      document.documentElement.setAttribute(
        'color-scheme',
        !theme ? 'dark' : theme
      )
    })

    // display appropriate bulb icons according to color theme upon initial page load //
    if (theme === 'light') {
      bulbOn.classList.add('hidden')
      bulbOff.classList.remove('hidden')
    } else {
      bulbOn.classList.remove('hidden')
      bulbOff.classList.add('hidden')
    }
  }

  setTheme()
</script>
