---
//  components
import CategoryTags from '../components/CategoryTags.astro'
import PostHead from '../components/PostHead.astro'
import RelatedPosts from '../components/RelatedPosts.astro'
//  layouts
import MainLayout from './MainLayout.astro'
//  utils js
import { formatPosts } from '../js/utils'

const { frontmatter } = Astro.props
const { title, description, date, category, image } = frontmatter

const posts = await Astro.glob('../pages/blog/*.md')
const formattedPosts = formatPosts(posts, {
  sortByDate: false,
})

const relatedPosts = formattedPosts.filter(
  post =>
    post.frontmatter.category.toLowerCase() === category.toLowerCase() &&
    post.frontmatter.title !== title
)
---

<MainLayout
  {title}
  {description}
  image={frontmatter.image}
  {frontmatter}
  robots={frontmatter.robots}
>
  <div class='single-post__layout'>
    <div class='single-post__head'>
      <PostHead {title} {date} {category} {image} />
    </div>
    <div class='single-post__body'>
      <slot />
    </div>
    <aside aria-label='Blog categories' class='single-post__categories'>
      <CategoryTags />
    </aside>
    {
      relatedPosts.length > 0 && (
        <aside aria-label='Related posts' class='single-post__related'>
          <h2>Related Posts</h2>
          <RelatedPosts {relatedPosts} />
        </aside>
      )
    }
  </div>
</MainLayout>

<style>
  .single-post__layout {
    display: grid;
    grid-template-areas:
      'head'
      'body'
      'categories'
      'related';
    row-gap: 1rem;
  }

  .single-post__head {
    grid-area: head;
  }

  .single-post__body {
    grid-area: body;
    margin-bottom: 3rem;
  }

  .single-post__categories {
    grid-area: categories;
  }

  .single-post__related {
    grid-area: related;
  }

  @media (min-width: 768px) {
    .single-post__layout {
      grid-template-areas:
        'head categories'
        'head related'
        'body .';
      gap: 1.4rem;
    }

    .single-post__categories {
      margin-top: 4rem;
    }
  }
</style>
